# General
# ------------------------------------------------------------------------------
pip-tools

# Code quality
# ------------------------------------------------------------------------------
pre-commit
ruff==0.3.5
isort==5.13.2
